*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%;
    font-weight: 300;
}
.header{
    background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/hero_classic.jpg);
    background-size: cover;
    height: 100vh;
    clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%)
}
.nav-contaner{
    
    display: flex;
    justify-content: flex-end;
    padding: .5rem 1rem;
    list-style: none;
    font-size: 1.3rem;
}

.nav-contaner a{
    padding: 10px 15px;
	text-transform: uppercase;
	text-align: center;
	display: block;
    color: #fff;
    text-decoration: none;
    transition: all .2s;
}
.nav-contaner a:hover{
    border-bottom: 2px solid rgb(3, 131, 82);
}
.text-box{
    color:#fff;
    font-size: 2rem;
    display: inline-block;
    top:50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    
}
.heading-primary--main {
    display: block;
    text-transform: uppercase;
    font-size: 5rem;
    font-weight: 400;
    -webkit-animation-name: moveInLeft;
    animation-name: moveInLeft;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
}
.heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: .2rem;
    text-transform: uppercase;
    -webkit-animation: moveInRight 1s ease-in;
    animation: moveInRight 1s ease-in;
}
@keyframes moveInRight{
    0% {
        opacity: 0;
        -webkit-transform: translateX(10rem);
        transform: translateX(10rem);
    }
    80% {
        -webkit-transform: translateX(-1rem);
        transform: translateX(-1rem);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes moveInLeft{
    0% {
        opacity: 0;
        -webkit-transform: translateX(-10rem);
        transform: translateX(-10rem);
    }
    80% {
        -webkit-transform: translateX(1rem);
        transform: translateX(1rem);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
.page-2{
    height: 100vh;
}