*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%;
    font-weight: 300;
}
.header{
    background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/hero_classic.jpg);
    background-size: cover;
    height: 100vh;
}